<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Display</key>
			<string>Ropa para hombres</string>
			<key>LookUp</key>
			<string>clothing+store+men</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Ropa para mujer</string>
			<key>LookUp</key>
			<string>clothing+store+women</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Ropa para infantes</string>
			<key>LookUp</key>
			<string>clothing+store+child</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Display</key>
			<string>Alcoholicas</string>
			<key>LookUp</key>
			<string>liquor+store</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Cafe</string>
			<key>LookUp</key>
			<string>coffee</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Refrescos</string>
			<key>LookUp</key>
			<string>store</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Display</key>
			<string>Reposteria</string>
			<key>LookUp</key>
			<string>bakery</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Frituras</string>
			<key>LookUp</key>
			<string>store</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Display</key>
			<string>Cine</string>
			<key>LookUp</key>
			<string>movie+teather</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Conciertos</string>
			<key>LookUp</key>
			<string>concerts</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Display</key>
			<string>Mexicana</string>
			<key>LookUp</key>
			<string>mexican+food</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>China</string>
			<key>LookUp</key>
			<string>chinese+food</string>
		</dict>
		<dict>
			<key>Display</key>
			<string>Italiana</string>
			<key>LookUp</key>
			<string>italian+food</string>
		</dict>
	</array>
</array>
</plist>
